@model Vehicle

<table class="border border-dark shadow">
  <tr>
    <th class="pl-3 pr-3 pt-2 text-center" colspan="2"> <h3> Vehicle Details </h3> </th>
  </tr>

  <tr>
    <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Year: </th>
    <td class="p-1 pr-3"> @Model.Year </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Make: </th>
    <td class="p-1 pr-3"> @Model.Make </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Model: </th>
    <td class="p-1 pr-3"> @Model.Model </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Color: </th>
    <td class="p-1 pr-3"> @Model.Color </td>
  </tr>

  <tr>
    <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> VIN: </th>
    <td class="p-1 pr-3"> @Model.Vin </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Date Purchased: </th>
    <td class="p-1 pr-3"> @Model.DatePurchased?.ToString("ddd, MMM d, yyyy") </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Purchase Price: </th>
    <td class="p-1 pr-3"> @Model.PurchasePrice?.ToString("C0") </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Odometer When Purchased: </th>
    <td class="p-1 pr-3"> @Model.OdometerAtPurchase?.ToString("N0") </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Date Sold: </th>
    <td class="p-1 pr-3"> @Model.DateSold?.ToString("ddd, MMM d, yyyy") </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Sale Price: </th>
    <td class="p-1 pr-3"> @Model.SalePrice?.ToString("C0") </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Odometer When Sold: </th>
    <td class="p-1 pr-3"> @Model.OdometerAtSale?.ToString("N0") </td>
  </tr>

  <tr>
    <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
  </tr>

  <tr>
    <td class="pb-3 pl-3 pr-3 text-center" colspan="2">
      <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning"> Edit </a>
      <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger"> Delete </a>
    </td>
  </tr>
</table>
