@model Vehicle

<table class="border border-dark shadow">
  <tr>
    <td class="pt-3" colspan="7"> </td>
  </tr>

  <tr>
    <td class="pl-3 pr-3 text-center" colspan="7">
      <a asp-controller="Fillup" asp-action="Add" asp-route-vehicleId="@Model.Id" class="btn btn-sm btn-success">
        New Fillup
      </a>
    </td>
  </tr>

  <tr>
    <td class="pl-4 pr-4" colspan="7"> <hr /> </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-center"> Date </th>
    <th class="p-1 text-center"> Trip Odometer </th>
    <th class="p-1 text-center"> Odometer </th>
    <th class="p-1 text-center"> Gallons </th>
    <th class="p-1 text-center"> Total Cost </th>
    @* <th class="p-1 text-center"> Days </th> *@
    @* <th class="p-1 text-center"> Miles / Day </th> *@
    <th class="p-1 text-center"> Miles / Gallon </th>
    @* <th class="p-1 text-center"> $ / Day </th> *@
    @* <th class="p-1 text-center"> $ / Gallon </th> *@
    @* <th class="p-1 text-center"> $ / Mile </th> *@
    <th class="p-1 pr-3 text-center"> Actions </th>
  </tr>

  @foreach (Fillup f in Model.Fillups.OrderByDescending(f => f.Odometer))
  {
    <tr>
      <td class="p-1 pl-3 text-center"> @f.Date?.ToString("MMM d yyyy") </td>
      <td class="p-1 text-center"> @f.TripOdometer.ToString("N1") </td>
      <td class="p-1 text-center"> @f.Odometer.ToString("N0") </td>
      <td class="p-1 text-center"> @f.Gallons.ToString("N3") </td>
      <td class="p-1 text-center"> @f.TotalCost.ToString("C2") </td>
      @* <td class="p-1 text-center"> @f.DaysSinceLastFillup.ToString("N0") </td> *@
      @* <td class="p-1 text-center"> @f.MilesPerDay.ToString("N1") </td> *@
      <td class="p-1 text-center"> @f.MilesPerGallon.ToString("N1") </td>
      @* <td class="p-1 text-center"> @f.PricePerDay.ToString("C2") </td> *@
      @* <td class="p-1 text-center"> @f.PricePerGallon.ToString("C3") </td> *@
      @* <td class="p-1 text-center"> @f.PricePerMile.ToString("C3") </td> *@
      <td class="p-1 pr-3 text-center">
        <a asp-controller="Fillup" asp-action="Detail" asp-route-id="@f.Id" class="btn btn-sm btn-primary">
          Details
        </a>
        <a asp-controller="Fillup" asp-action="Edit" asp-route-id="@f.Id" class="btn btn-sm btn-warning">
          Edit
        </a>
        <a asp-controller="Fillup" asp-action="Delete" asp-route-id="@f.Id" class="btn btn-sm btn-danger">
          Delete
        </a>
      </td>
    </tr>
  }

  <tr>
    <td class="pb-2" colspan="7"> </td>
  </tr>
</table>
